<body>

<h1>
    Add Blog
</h1>

<form action="/api/blog/add" method="post">
    <input type="text" name="title" placeholder="Enter the title">
    <textarea rows="20" cols="90" name="description" placeholder="Enter your blog"></textarea>
    <input type="submit" value="Submit">
</form>
</body>
</html>