<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com//docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
             class="d-inline-block align-top" alt="">
        Fooblogato
    </a>
    <div class="dropdown pr-md-3">
        <span class="btn teal dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello, Dhroov
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">New Blog</a>
            <a class="dropdown-item" href="#">Your Blogs</a>
            <a class="dropdown-item" href="#">Bookmarks</a>
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Sign Out</a>
        </div>
    </div>
</nav>