{{!< main}}

<div class="card border-secondary text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Blog title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Place</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Read More</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>