{{!< main}}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h2>Fooblogato</h2>
        <p class="homePara">A platform where you can share and express your foodie experiences.</p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img class="img-fluid rounded"
             src="https://previews.123rf.com/images/higyou/higyou0907/higyou090700027/5194086-front-view-of-a-3d-modern-building-vertical.jpg"
             alt="Fooblogato Image">
    </div>
    <div class="col-md-1"></div>
</div>