{{!< main}}

<div class="row bg-image" style="background-image: linear-gradient(teal,lightblue)">
    <div class="col-md"></div>
    <div class="col-md">
        <img src="http://dhroovgupta.me/assets/img/16113918_767990396698875_5826062591810456459_n.jpg"
             class="round-image img-thumbnail" style="border-radius: 50%;height:50%">
        <h3>{{user.name}}</h3>
    </div>
    <div class="col-md"></div>
</div>

<!--Incomplete-->